.widget {
  display: flex;
  justify-content: flex-end;
}

.widget input {
  margin-left: 10px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 0 10px;
  background-color: lightskyblue;
}

.widget input:hover {
  -webkit-animation: wobble 0.6s both;
	        animation: wobble 0.6s both;
  cursor: pointer;
}

.widget input:focus {
  outline: 0;
}

@-webkit-keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  30% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  45% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  75% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  30% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  45% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  75% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}