.widget {
  display: flex;
  justify-content: flex-end;
}

.widget input {
  margin-left: 10px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 0 10px;
  background-color: lightskyblue;
}

.widget input:hover {
  background-color: silver;
  cursor: pointer;
}

.widget input:focus {
  outline: 0;
}