.post-item {
  margin: 50px;
  padding-top: 50px;
  border-top: 1px solid silver;
}

.user-comment-link {
  text-decoration: none;
  color: rgba(0,0,0,.6)
  
}

.user-comment-link:hover {
  color: rgba(0,0,0,1)
}

.main-post-list {
  line-height: 23px;
  padding-left: 0;
}

.post-content {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  line-height: 30px;
}

.post-date {
  text-align-last: right;
  font-family: 'Crimson Text', serif;
  margin: 15px;
  font-size: 16px;
}

.first-post {
  margin-bottom: 50px;
  margin: 50px;
}

h3 {
  margin-top: 50px;
  margin-left: 55px;
  text-align-last: left;
  border-bottom: 1px solid lightskyblue;
  border-spacing: 8px;
  display: table;
}

.main-list-section {
  width: 60vw;
}
