.post-item {
  margin: 50px;
  padding-top: 50px;
  border-top: 1px solid lightslategray;
}

.main-post-list {
  line-height: 23px;
}

.post-date {
  text-align-last: right;
  margin: 15px;
  font-size: 14px;
}

.comment-date {
  font-size: 13px;
}

.comment-item {
  padding-inline-start: 10px;
}

.comment-container {
  background-color: aliceblue;
  width: 40vw;
  color: #6F6F6F;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

.first-post {
  margin-bottom: 50px;
  margin: 50px;
}

h3 {
  margin-top: 50px;
  margin-left: 55px;
  text-align-last: left;
  border-bottom: 1px solid lightskyblue;
  border-spacing: 8px;
  display: table;
}
