.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form label {
  display: inline-block;
  padding: 10px;
}

.comment-form button {
  margin-top: 15px;
  display: inline-block;
}


