.comment-list {
  text-align-last: left;
  margin: 30px 0;
  line-height: 22px;
}

.comment-date {
  font-size: 13px;
}

.comment-item {
  padding-inline-start: 10px;
}

.comment-container {
  background-color: aliceblue;
  color: #6F6F6F;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 25px;
}
