.login-form {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  display: inline-block;
  padding: 10px;
}

.login-form button {
  display: inline-block;
}
