.App {
  text-align: center;
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal;
}

.App-header {
  position: -webkit-sticky;
  position: sticky;
  top: -.01px;
}

h1 {
  margin: 80px;
}

ul {
  list-style-type: none;
}

.main-container {
  width: 60vw;
  display: block;
  height: auto;
}

.page-container {
  display: inline-flex;
}

body {
  display: flex;
}

button {
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 4px 10px;
  margin: 10px 0;
  background-color: silver;
}

button:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#root {
  width: 100vw;
  letter-spacing: .8px;
}
