.App {
  text-align: center;
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal;
}

ul {
  list-style-type: none;
}

.main-container {
  width: 60vw;
  display: block;
  height: auto;
  padding-left: 60px;
  border-left: slategray thin solid;
}

.page-container {
  display: inline-flex;
  margin-top: 50px;
}

body {
  display: flex;
}

#root {
  width: 100vw;
  letter-spacing: .8px;
}
