
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 12px;
  padding: 5px 20px;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: lightblue;
}

.login-reg-items {
  display: inline-flex;
  justify-content: flex-end;
}
.navbar {
  background-color: lightslategray;
}

img {
  
  height: auto;
}

.nav-items {
  display: inline-flex;
  width: 45vw;
  justify-content: flex-start;
}