.nav-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  margin: 12px;
  padding: 5px 20px;
}

.nav-item:hover {
  color: rgb(0, 0, 0)
}

.login-reg-items {
  display: inline-flex;
  justify-content: flex-end;
}
.navbar {
  background-color: lightblue;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
  0px 4px 8px rgba(0, 0, 2, 0.28);
}

img {
  height: auto;
}

.nav-items {
  display: inline-flex;
  width: 45vw;
  justify-content: flex-start;
}

.active .nav-item {
  color: rgb(0, 0, 0);
}